<%- include("../partials/header") %>

<div class="container">
	<div class="row mt-5">
		<div class="col-md-3 d-none d-md-block">
			<div id="map"></div>
		</div>
		<div class="col-md-9">
			<div class="card">
				<img class="img-fluid" src="<%= campground.image %>">
				<div class="card-body">
					<h5 class="float-right">$<%= campground.cost %>/night</h5>
					<h3 class="card-title"> <%= campground.name %> </h3>
					
					<p class="card-text"> <%= campground.description %> </p>
					<% if (campground.author.username){ %>
						<p> 
							<em>Submitted by: <%= campground.author.username %>, <%= moment(campground.createdAt).fromNow() %></em>
						</p>		
					<% } %> 
					<% if (currentUser && campground.author.id || currentUser && currentUser.isAdmin) { %>
						<% if (campground.author.id.equals(currentUser._id) || currentUser.isAdmin){  //mongoose method to check if they are equal%>
							<a class ="btn btn-warning" href="/campgrounds/<%= campground._id %>/edit"> Edit the campground!</a>
							<form class="delete-form" action="/campgrounds/<%= campground._id %>?_method=DELETE" method="POST">
								<button class ="btn btn-danger"> Delete the campground</button>
							</form>	
						<% } %> 
					<% } %> 
				</div>
			</div>
			<div class="card mt-3">
				<div class="card-body">
					<div class="text-right">
						<a class ="btn btn-success" href="/campgrounds/<%= campground._id %>/comments/new"> Add a comment!</a>
					</div>
					<hr>
					<div class="row">
					<% campground.comments.forEach(function(comment){ %>
						<div class="col-md-12">
							<div class="card">
								<div class="card-body">
									<div class="float-left">
										<p class ="card-title"><strong><%= comment.author.username %></strong></p>
										<p class ="card-text"><%= comment.text %></p>
									</div>
									<div class="float-right">	
										<p class="text-right"><%= moment(comment.createdAt).fromNow() %></p>
										<% if (currentUser && comment.author.id || currentUser && currentUser.isAdmin) { %>
											<% if (comment.author.id.equals(currentUser._id) || currentUser.isAdmin){  //mongoose method to check if they are equal%>
												<a class="btn btn-sm btn-warning" 
												   href="/campgrounds/<%= campground._id %>/comments/<%= comment._id %>/edit">Edit comment</a>
													<form class="delete-form" 
														  action="/campgrounds/<%= campground._id %>/comments/<%= comment._id %>?_method=DELETE" method="POST">
														<button class ="btn btn-sm btn-danger"> Delete Comment</button>
													</form>	
											<% } %> 
										<% } %> 
									</div>
								</div>
							</div>
						</div>
					<% }); %>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script>
  function initMap() {
    var lat = <%= campground.lat %>;
    var lng = <%= campground.lng %>;
    var center = {lat: lat, lng: lng };
    var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 8,
        center: center,
        scrollwheel: false
    });
    var contentString = `
      <strong><%= campground.name %><br />
      <%= campground.location %></strong>
      <p><%= campground.description %></p>
    `
    var infowindow = new google.maps.InfoWindow({
      content: contentString
    });
    var marker = new google.maps.Marker({
        position: center,
        map: map
    });
    marker.addListener('click', function() {
      infowindow.open(map, marker);
    });
  }
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDj6B-lvS4JIL23JLVtLHge9fDm4SFrVyk&callback=initMap"></script>



<%- include("../partials/footer2") %>
